<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Tópico | Shih Tzu Notícias</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  
  <script src="https://cdn.tiny.cloud/1/6j8mcpiz9296bqj68k211s1zjnz3bbunjit9dr6xzzcrru7h/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>

  <%- include('partials/header') %>

  <main class="main-content">
    <div class="container">
      <h2>Criar Novo Tópico</h2>
      <form id="thread-form" action="/forum/novo-topico" method="POST" class="forum-form">
        
        <div class="form-group">
          <label for="category">Categoria</label>
          <select name="category" id="category" required>
            <option value="" disabled selected>-- Escolha uma categoria --</option>
            <% categories.forEach(category => { %>
              <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        
        <div class="form-group">
           <label for="title">Título</label>
           <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
          <label for="content">Conteúdo</label>
          <textarea id="thread-editor" name="content" rows="8"></textarea>
        </div>

        <button type="submit" class="read-more">Publicar Tópico</button>
      </form>
    </div>
  </main>

  <%- include('partials/footer') %>

  <script>
    tinymce.init({
      selector: '#thread-editor',
      plugins: 'lists link image emoticons media table wordcount autoresize',
      toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image media | emoticons',
      language: 'pt_BR',
      menubar: false,
      statusbar: false,
      autoresize_bottom_margin: 20,
      content_css: '/css/style.css',
      body_class: 'post-body'
    });

    const threadForm = document.getElementById('thread-form');
    threadForm.addEventListener('submit', function(event) {
      tinymce.triggerSave();
      
      const content = document.getElementById('thread-editor').value;
      if (content.trim() === '') {
        alert('O campo "Conteúdo" não pode ficar vazio.');
        event.preventDefault();
      }
    });
  </script>

</body>
</html>