<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Criar Nova Senha</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
    <main class="main-content">
        <div class="container">
            <h2>Crie sua Nova Senha</h2>
            <form action="/resetar-senha/<%= token %>" method="POST" class="forum-form">
                <div class="form-group">
                    <label for="password">Nova Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirme a Nova Senha</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="read-more">Salvar Nova Senha</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>